/*Start Global Rules*/
:root {
    --mainColor: #19c8fa;
    --transparentColor: rgb(15 116 143 / 70%);
    --specialHeadingColor: #384141;
    --specialHeadingShapeDownPosition: -15%;
}

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    box-sizing: border-box;

    line-height: 1.8;

    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

/*Small Screens*/
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/*Medium Screens*/
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*Large Screens*/
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*End Global Rules*/
/*----------------------------------------------------------------------------*/
/*Start Components Section*/

    .special-heading {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .special-heading h1 {
        color: var(--specialHeadingColor);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 30px;
        position: relative;
    }

    .special-heading h1::before{
        content: "";
        background-color: white;
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: var(--specialHeadingShapeDownPosition);
        left: 50%;
        transform: translate(-50% , 50%);
        border: 1px solid var(--specialHeadingColor);
        border-radius: 50%;
        z-index: 1;
    }

    .special-heading h1::after{
        content: "";
        background-color: var(--specialHeadingColor);
        height: 1px;
        width: 70%;
        position: absolute;
        bottom: var(--specialHeadingShapeDownPosition);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }

    .special-heading p {
        color: gray;
        text-align: center;
    }

/*End Components Section*/
/*----------------------------------------------------------------------------*/
/*Start Header Section*/
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}

header .container {
    width: 100%;
    padding: 0 15px 0 15px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #a2a2a2;
    bottom: 0;
}

header .container img{
    padding: 15px;
    max-height: 90px;
}

header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 2px solid white;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .container ul li{
    margin: 0 20px;
}

header .container ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 40px 10px;
}

header .container ul li a:hover{
    color: var(--mainColor);
    font-weight: bold;
}


header .container ul li .active{
    color: var(--mainColor);
    font-weight: bold;
}

header .container i{
    padding: 30px;
    color: white;
}

header .container nav .toggle-menu {
    color: white;
    font-size: 28px;
    display: none;
}

header .container nav .menu-tab [type="checkbox"] {
    display: none;
}

@media (max-width: 970px) {
    header .container nav .menu{
        display: none;
    }

    header .container nav .toggle-menu{
        display: block;
    }

    header .container nav .menu-tab input[type="checkbox"]:checked ~ ul{
        display: block;
    }

    header .container nav .menu {
        position: absolute;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 3;
    }

    header .container nav .menu li{
        position: relative;
    }

    header .container nav .menu li:not(:last-child) :after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #a2a2a2;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

/*End Header Section*/
/*----------------------------------------------------------------------------*/
/*Start Landing Section*/

    .landing {
        min-height: 100vh;
        background-color: #a2a2a2;
        background-image: url("https://wpcdn.web.wsu.edu/news/uploads/sites/2797/owl-1024x676.jpg");
        background-size: cover;
        position: relative;
    }

    .landing .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .landing .text .content {
        position: absolute;
        left: 0;
        padding: 5%;
        top: 50%;
        transform: translateY(-50%);
        max-width: 70%;
        background-color: var(--transparentColor);

    }

    .landing .text .content h2 ,
    .landing .text .content p {
        color: white;
    }

    .landing .text .content h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .landing .text .content p {
        line-height: 2;
    }

    .landing .left-arrow ,
    .landing .right-arrow {
        color: white;
        background-color: transparent;
        position: absolute;
        top: 50%;
    }

    .landing .left-arrow{
        left: 1%;
    }

    .landing .right-arrow{
        right: 1%;
    }

@media (max-width: 767px) {
    .landing .right-arrow ,
    .landing .left-arrow{
        display: none;
    }
}

    .landing .circles {
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translateX(-50%);
        width: 4%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .landing .circles span{
        background-color: transparent;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        margin-left: 1%;
        margin-right: 1%;

    }

    .landing .circles span:nth-child(2){
        background-color: var(--mainColor);
    }

@media (max-width: 400px) {
    .landing .circles{
        width: 14%;
    }
}

/*End Landing Section*/
/*----------------------------------------------------------------------------*/

/*Start Services Section*/
    .services{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .serv {
        display: flex;
    }

    .serv-content{
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
        grid-row-gap: 60px;
        grid-column-gap: 200px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .serv i {
        margin-right: 50px;
        color: var(--mainColor);
    }

    .serv .serv-text h2 {
        color: var(--mainColor);
        font-weight: 800;
        font-size: 2rem;
    }

    .serv .serv-text p {
        font-size: 1.3rem;
    }
    @media (max-width: 820px) {
        .serv , .serv-text {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        .serv .serv-text p {
            text-align: center;
        }
    }

/*End Services Section*/
